/*==================================
Fonts: Museo Sans
==================================*/

@import url("https://use.typekit.net/wma8isk.css");


/*==================================
Base Styles
==================================*/

body, html {
  font-family: museo-sans, sans-serif;
  font-style: normal;
}

p {
  font-weight: 300;
}

.top-bar-right ul li {
  padding-bottom: 5px;
}

.nav-active {
  border-bottom: 2px solid #f7b731;
}

.hero-search-filter h2 {
  color: #fefefe;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.button {
  background-color: #34495e;
}

.learn-more-button {
  display: block;
  margin: 25px auto 50px auto;
}

.more-button {
  display: block;
  margin: 25px auto;
  padding: 12px 50px;
}

.button:hover {
  background-color: #f7b731;
}

.headline-text {
  color: #fefefe;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.subheadline-text {
  color: #34495e;
  font-size: 2rem;
  font-weight: 500;
  margin: 25px 0;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 850px;
  width: 90%;
}

.container p {
  color: #34495e;
}

.container a:hover {
  color: #f7b731;
  transition: 0.2s ease;
}

.footer-flex {
  background-color: #34495e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0;
}

.footer-flex ul:nth-child(1) {
  margin-bottom: 25px;
}

.footer-flex a,
.footer-flex li i {
  color: #fefefe;
}

.footer-flex li i {
  font-size: 1.5rem;
}

@media screen and (min-width: 601px) {
  .footer-flex {
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .footer-flex ul:nth-child(1) {
    margin-bottom: 0px;
  }
}


/*==================================
Home Page Styles
==================================*/

.flex-step {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.flex-step p {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 10px;
}

.step-container {
  background-color: #34495e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.step-container p {
  color: #fefefe;
  /* display: block; */
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
}



/*==================================
FAQ Styles
==================================*/

.item {
  border-bottom: 1px solid #dfe6e9;
  color: #34495e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70px;
  width: 100%;
}

.item:hover {
  cursor: pointer;
}

.item:hover a {
  color: #34495e;
  font-size: 1.15rem;
  opacity: 1;
  transition: 0.2s ease;
}

.item:nth-child(1) {
  border-top: 1px solid #dfe6e9;
}


/*==================================
Responsive Navbar
==================================*/

.topbar-responsive {
  background: #34495e;
  box-shadow: 0 1px 4px rgba(0,0,0,.25) !important;
  padding: 1rem 1.5rem;
  /* z-index: 1000; */
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 5px;
  vertical-align: middle;
}

.topbar-responsive .menu {
  background: #34495e;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  /* border-color: #fefefe; */
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  /* border-color: #c6d1d8; */
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    /* border: 1px solid #fefefe; */
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}



/*==================================
Domain Name Search
==================================*/

#domain-search {
  background: url("../assets/web-hero-2.jpg") center center no-repeat;
  height: 300px;
  background-size: cover;
}

#faq-search {
  background: url("../assets/web-hero.jpg") center center no-repeat;
  height: 300px;
  background-size: cover;
}

#resources-search {
  background: url("../assets/resources-hero.jpg") center center no-repeat;
  height: 300px;
  background-size: cover;
}

.hero-search-filter {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-search-filter-logo {
  margin-bottom: 2rem;
}

.hero-search-filter-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-search-filter-menu {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (max-width: 39.9375em) {
  .hero-search-filter-menu li {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
  .hero-search-filter-menu li a {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero-search-filter-menu a {
  color: #fefefe;
  font-weight: bold;
}

.hero-search-filter-menu a .fa {
  font-size: 1.125rem;
  font-weight: normal;
  text-decoration: none;
}

.hero-search-filter-menu a:hover {
  text-decoration: underline;
}

.hero-search-filter-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  background: #fefefe;
  box-shadow: 5px 10px 18px rgba(0,0,0,0.5);
  padding: 0.25rem;
  border-radius: 5px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-search-filter-form .divider {
  background-color: #cacaca;
  width: 1px;
}

.hero-search-filter-form label {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: #8a8a8a;
  font-weight: bold;
}

.hero-search-filter-form input,
.hero-search-filter-form .button {
  margin-bottom: 0;
}

@media screen and (max-width: 39.9375em) {
  .hero-search-filter-form {
    width: 90%;
  }
}

.hero-search-filter-form-find,
.hero-search-filter-form-near {
  border: 0;
  box-shadow: none;
}

.hero-search-filter-form-find:focus,
.hero-search-filter-form-near:focus {
  border: 0;
  box-shadow: none;
}



/*==================================
FAQ Category Toggle
==================================*/

.mobile-app-filter-menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: distribute;
          justify-content: space-evenly;
  margin: 0;
  height: 2.8125rem;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #dfe6e9;
}

.mobile-app-filter-menu li a {
  color: #b2bec3;
}

.mobile-app-filter-menu li.is-active a {
  color: #34495e;
}



/*==================================
Resources Pagination
==================================*/

.pagination-circular {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.pagination-circular li {
  margin: 0 2.5px;
}

.pagination-circular li.current {
  background-color: #34495e;
  border: 1px solid #34495e;
  border-radius: 5000px;
  padding: 0.285em 0.8em;
  font-size: 18px;
}

.pagination-circular li.disabled {
  border: 1px solid #cacaca;
  padding: 0.285em 0.8em;
  border-radius: 5000px;
  font-size: 18px;
}

.pagination-circular a {
  border-radius: 5000px;
  color: #34495e;
  padding: 0.285em 0.8em;
  border: 1px solid #34495e;
  font-size: 18px;
}

.pagination-circular li:not(.disabled):hover a {
  background: #1779ba;
  color: #fefefe;
}

.pagination-circular li a {
  transition: background 0.15s ease-in, color 0.15s ease-in;
}

